#automoto {
  height: calc(100vh - 45px);
  position: relative;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 55.21%), url(../assets/images/automoto-bg..webp) no-repeat;
  background-size: cover;
  padding-bottom: 40px;
  padding-top: 0;
}
#automoto .container {
  position: relative;
}
#automoto .automoto-subtitle {
  display: block;
  width: 100%;
  position: absolute;
  top: 11px;
  font-size: 1.4rem;
}
#automoto .title {
  font-family: "Roboto Slab", sans-serif;
  margin-block: 60px 3.3rem;
  font-size: 7.4rem;
}
#automoto .automoto__description {
  font-size: 1.6rem;
  line-height: 3rem;
  margin-bottom: 6.4rem;
}

#categories {
  background: url(../assets/images/auto-bg..webp) no-repeat 100% center, url(../assets/images/moto-bg..webp) no-repeat 0 center;
  background-size: 35%;
}

.categories__ul {
  margin: 60px -15px 70px;
}

.categories__li {
  padding-inline: 15px;
}
.categories__li:nth-of-type(odd) .category__content::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: -15px;
  width: 1px;
  height: 100%;
  background: #333333;
}

.category__title {
  margin-bottom: 40px;
  font-size: 4rem;
}

.category__content {
  position: relative;
}

.category__advantage {
  font-size: 1.4rem;
  margin-bottom: 1.6rem;
}

.category__price {
  margin-block: 3.3rem 40px;
  font-family: "Roboto", sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  #categories {
    background: url(../assets/images/auto-bg..webp) no-repeat 100% 100%, url(../assets/images/moto-bg..webp) no-repeat 0 0;
    background-size: 60%;
  }
  .category__list .link {
    margin-bottom: 50px;
  }
  .categories__li:nth-of-type(odd) .category__content::after {
    content: none;
  }
  .categories__ul {
    margin: 0 0 -50px;
  }
}
#branches {
  background: url(../assets/images/branches-bg..webp) fixed no-repeat;
  background-size: cover;
  padding-bottom: 115px;
}

.branches__ul {
  width: 90%;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(max-content, auto);
  gap: 9.5rem 3rem;
  margin: 9.5rem auto 0;
}

.branches__li {
  margin-block: calc(10px - 50%);
}

.branch__link {
  position: relative;
  text-decoration: none;
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: #000000;
  transition: color 0.2s;
}
.branch__link:hover {
  color: #B80808;
}
.branch__link .branch__icon {
  width: 3rem;
  height: 4.5rem;
  margin-right: 1rem;
  filter: invert(67%) sepia(89%) saturate(7492%) hue-rotate(349deg) brightness(84%) contrast(96%);
}

@media screen and (max-width: 1199px) {
  .branches__ul {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 767px) {
  .branches__ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
#why-we {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 55.21%), url(../assets/images/why-we-bg..webp);
  background-size: cover;
}

.why-we__ul {
  display: grid;
  width: fit-content;
  align-items: end;
  grid-template-columns: repeat(2, 32.4rem);
  grid-auto-rows: minmax(max-content, auto);
  gap: 4rem 2.5rem;
  margin-inline: auto;
  margin-top: 50px;
}
.why-we__ul .why-we__li {
  height: 100%;
  background: rgba(255, 255, 255, 0.85);
  padding: 20px 38px;
}
.why-we__ul .why-we__li .why-we__icon {
  display: block;
  width: 60px;
  height: 60px;
  margin-inline: auto;
  margin-bottom: 6px;
}
.why-we__ul .why-we__li .why-we__subtitle {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 6px;
}
.why-we__ul .why-we__li .why-we__description {
  font-size: 1.4rem;
}

@media screen and (max-width: 767px) {
  #why-we {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 55.21%), url(../assets/images/why-we-bg..webp) center;
    background-size: cover;
  }
  .why-we__ul {
    grid-template-columns: repeat(1, 324px);
  }
}
#auto-stages {
  background: url(../assets/images/conus-bg..webp) 0 center no-repeat, url(../assets/images/stages-car-bg..webp) 100% center no-repeat;
  background-size: contain;
}

.stages__ul {
  margin-top: 50px;
  gap: 52px 122px;
  margin-bottom: 53px;
}

.stage__index {
  display: inline-block;
  width: 24px;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  color: #E20000;
}

.stage__title {
  display: inline-block;
  font-size: 1.6rem;
  margin-bottom: 5px;
}

.stage__description {
  font-size: 1.4rem;
  color: #464646;
}

.auto-stages__li {
  position: relative;
}
.auto-stages__li:nth-of-type(-n + 2)::after {
  content: "";
  display: block;
  width: 1px;
  height: calc(200% + 26px);
  background: #868686;
  position: absolute;
  right: -26px;
  top: 0;
}
.auto-stages__li:nth-of-type(1)::before {
  content: "";
  display: block;
  width: calc(300% + 244px - 48px);
  height: 1px;
  background: #868686;
  position: absolute;
  left: 24px;
  bottom: -22px;
}

@media screen and (max-width: 1399px) {
  #auto-stages {
    background: url(../assets/images/conus-bg..webp) 5% 20% no-repeat, url(../assets/images/stages-car-bg..webp) 100% 100% no-repeat;
    background-size: 242px, 476px;
  }
  .stages__ul {
    gap: 52px 100px;
  }
  .auto-stages__li:nth-of-type(-n + 2)::after {
    height: calc(200% + 26px);
  }
  .auto-stages__li:nth-of-type(1)::before {
    width: calc(300% + 200px - 48px);
  }
}
@media screen and (max-width: 1199px) {
  .stages__ul {
    gap: 52px 60px;
  }
  .auto-stages__li:nth-of-type(-n + 2)::after {
    height: calc(200% + 26px);
  }
  .auto-stages__li:nth-of-type(1)::before {
    width: calc(300% + 120px - 48px);
  }
}
@media screen and (max-width: 575px) {
  .stages__ul {
    width: 270px;
    gap: 40px;
    border-left: 1px solid #868686;
    padding-left: 39px;
  }
  .stage__index {
    display: inline-block;
    width: 18px;
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    color: #E20000;
  }
  .auto-stages__li {
    position: relative;
  }
  .auto-stages__li:nth-of-type(-n + 2)::after {
    content: none;
  }
  .auto-stages__li:nth-of-type(1)::before {
    content: none;
    display: block;
    width: calc(300% + 244px - 48px);
    height: 1px;
    background: #868686;
    position: absolute;
    left: 24px;
    bottom: -22px;
  }
  .auto-stages__li:not(:last-child)::before {
    content: "";
    display: block;
    width: calc(100% - 48px);
    height: 1px;
    background: #868686;
    position: absolute;
    left: -39px;
    bottom: -22px;
  }
}
.photos__li {
  width: 50%;
  position: relative;
  padding-inline: 50px;
}
.photos__li:first-of-type .carousel::after {
  content: "";
  display: block;
  position: absolute;
  top: -50px;
  right: -50px;
  width: 1px;
  height: 100%;
  background: #333333;
}

@media screen and (max-width: 767px) {
  .photos__ul {
    margin-bottom: -50px;
  }
  .photos__li {
    width: 100%;
    margin-bottom: 40px;
  }
  .photos__li:first-of-type .carousel::after {
    content: none;
  }
}
#moto-stages {
  padding-bottom: 7.5rem;
  margin-bottom: -5px;
}

.moto-stages__ul {
  width: fit-content;
  margin: 5rem auto 7rem;
}

.moto-stages__image {
  width: 280px;
  height: auto;
  outline: 1px solid #000000;
  padding: 10px;
  box-sizing: content-box;
  margin-left: 10px;
}

@media screen and (max-width: 575px) {
  .moto-stages__ul {
    margin-bottom: 2rem;
  }
  .moto-stages__li {
    margin-bottom: 20px;
  }
  .moto-stage__li {
    margin-bottom: 16px;
  }
  .moto-stages__image {
    width: 262px;
    height: auto;
    margin-left: 0;
  }
}
#instructors {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 55.21%), url(../assets/images/instructors-bg..webp);
  background-size: cover;
}

.instructors__ul {
  margin-top: 50px;
  gap: 50px;
}

.instructors__li {
  background: rgba(255, 255, 255, 0.9);
  width: max(280px, 30%);
}

.instructor__image {
  width: 100%;
  height: auto;
}

.instructor__content {
  padding: 16px 20px 20px;
}

.instructor__name {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.instructor__age {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 16px;
}

.instructor__description {
  font-size: 1.4rem;
  color: #464646;
}

#autopark .carousel-item .carousel-photo {
  width: 638px;
  height: 481px;
}

@media screen and (max-width: 767px) {
  #autopark .carousel-item .carousel-photo {
    width: 510.4px;
    height: 384.8px;
  }
}
@media screen and (max-width: 575px) {
  #autopark .carousel-item .carousel-photo {
    width: 319px;
    height: 240.5px;
  }
}
.carousel-review {
  width: 638px;
  height: auto;
  padding: 20px;
  background: #FFFFFF;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
}
.carousel-review-image {
  height: 180px;
  width: auto;
  box-sizing: content-box;
  padding: 10px;
  border: 1px solid #000000;
  margin-right: 20px;
}
.carousel-review-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  margin-bottom: 16px;
}
.carousel-review-description {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 20px;
}

@media screen and (max-width: 767px) {
  .carousel-review {
    width: 311px;
    height: 454px;
  }
  .carousel-review-image {
    height: 134px;
    margin-right: 0;
  }
  .carousel-review-title {
    font-size: 16px;
    margin-block: 23px;
  }
  .carousel-review-description {
    font-size: 14px;
    line-height: 20px;
  }
}
#events {
  background: url(../assets/images/events-bg..webp) no-repeat 95%;
  background-size: contain;
}

.event__description {
  margin-block: 20px 50px;
  font-size: 2rem;
}

#faq-accordion {
  margin-top: 50px;
}

.accordion-item {
  width: 50vw;
  margin: 0 auto 32px;
  padding: 10px 20px;
  background: #B80808;
}

.accordion-item .accordion-button {
  background: none;
  box-shadow: none;
  color: #FFFFFF;
  font-size: 1.6rem;
}

.accordion-button::after {
  content: none;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-question {
  width: 90%;
}

.accordion-svg {
  position: absolute;
  top: 13px;
  right: 0;
  transition: transform 0.3s;
}

.accordion-button:not(.collapsed) .accordion-svg {
  transform: rotate(-90deg);
}

.accordion-body {
  font-size: 1.3rem;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 1.5rem;
}

@media screen and (max-width: 991px) {
  .accordion-item {
    width: 60vw;
  }
  .accordion-item {
    padding: 10px 20px;
  }
}
@media screen and (max-width: 767px) {
  .accordion-item {
    width: 70vw;
  }
  .accordion-item {
    padding: 10px 20px;
  }
}
@media screen and (max-width: 575px) {
  .accordion-item {
    width: 90vw;
  }
  .accordion-question {
    width: 80%;
  }
}
#enroll {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.4) 55.21%), url(../assets/images/faq-bg..webp) no-repeat;
  background-size: cover;
}

.enroll__description {
  margin-block: 20px 30px;
  font-size: 1.6rem;
}

.stage__index,
.stage__title,
.stage__description {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.photos-n-moto-stages,
.autopark-n-reviews,
#faq {
  background: url(../assets/images/rhombus-bg..webp) fixed no-repeat;
  background-size: cover;
}