@import variables

#header
  height: 67px
  background: #FFF
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)

.header__logo
  height: 45px

.navbar-nav
  gap: 26px

.navbar-light .navbar-nav .nav-link
  font-size: 1.4rem
  gap: 26px
  color: $black
  &.active
    color: $dark-red