@import components/fonts, components/variables, components/header, components/footer

html
  font-family: 'Play', sans-serif
  font-size: 10px
  scroll-padding-top: 66px

body
  display: flex
  flex-direction: column
  overflow-x: hidden
  min-height: 100vh

h3
  font-size: max(4rem, 32px)
  text-align: center
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)

ul
  padding: 0

section
  padding-block: 50px 70px

a
  color: $dark-grey
  text-decoration: none
  &:hover
    color: $black

.link
  width: fit-content
  display: flex
  justify-content: center
  align-items: center
  margin-inline: auto
  padding: 1rem 4rem
  background: $red
  font-size: max(1.4rem, 12px)
  color: $white
  text-decoration: none
  text-transform: uppercase
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25)
  transition: box-shadow .05s
  position: relative
  overflow: hidden
  &::after
    background: #fff
    content: ""
    display: block
    height: 155px
    left: -75px
    opacity: .2
    position: absolute
    top: -50px
    transform: rotate(35deg)
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1)
    width: 50px
    z-index: 10
    animation: blink 2s infinite
  &:hover
    color: $white
    box-shadow: 0 0 30px rgba(213, 4, 5, 0.93)
    &::after
      background: transparent

@keyframes blink
  80%
    left: -75px
  100%
    left: 120%

.text_white
  color: $white

.text_red
  color: $red

.carousel-fade .active.carousel-item-end .carousel-photo,
.carousel-fade .carousel-item-next:not(.carousel-item-start) .carousel-photo
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.125))

.carousel-fade .active.carousel-item-start .carousel-photo,
.carousel-fade .carousel-item-prev:not(.carousel-item-end) .carousel-photo
  filter: none

.carousel-item
  margin-bottom: 8px

.carousel.slide
  margin-top: 5rem

.carousel-description
  font-size: max(1.6rem, 14px)
  margin-top: 10px

.carousel-photo
  display: block
  height: 264px
  width: auto
  margin-inline: auto
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25))

.carousel-description
  margin-bottom: 0

.carousel-control-prev,
.carousel-control-next
  margin-top: 10px !important

.social__icon_vk
  width: max(3rem, 25px)
  height: max(3rem, 25px)

.social__icon_phone
  width: max(2.4rem, 20px)
  height: max(2.4rem, 20px)
  margin-right: -5px

@media screen and (max-width: $lg)
  html
    font-size: calc(5px + 5 * (100vw / 1199))