//-Текущий год
- year = new Date().getFullYear()

//-Основная информация
- title = `Автошкола "Автомото" ${year} год`
- phone = { formatted: "8 (812) 642-91-46", notFormatted: "88126429146" }
- mail = "avtomotospb@yandex.ru"
- workTime = "пн-вс с 10:00 до 20:00"

//-Навигационные ссылки
-
    navLinks = [
        {
            name: "Главная",
            href: ""
        },
        {
            name: "Цены",
            href: ""
        },
        {
            name: "Филиалы",
            href: ""
        },
        {
            name: "Как проходит обучение",
            href: ""
        },
        {
            name: "Отзывы",
            href: ""
        },
        {
            name: "Акции",
            href: ""
        }
    ]

//-Категории и их характеристики
-
    categories = [
        {
            title: "Категория В",
            advantages:
                    [
                        "Дистанционный теоретический курс обучения на права",
                        "Полный практический курс занятий на автомобиле с МКПП (20 часов)",
                        "Полный комплект документов",
                        "Организованная сдача экзамена в ГИБДД и получение прав категории Б"
                    ],
            price: '21 900 рублей'
        },
        {
            title: "Категория А",
            advantages:
                    [
                        "Дистанционный теоретический курс обучения на права",
                        "Полный практический курс занятий на автомобиле с МКПП (20 часов)",
                        "Полный комплект документов",
                        "Организованная сдача экзамена в ГИБДД и получение прав категории Б"
                    ],
            price: '15 000 рублей'
        },
    ]

//-Филиалы
-
    branches = [
        {name: "Проспект Большевиков", href: ""},
        {name: "Купчино", href: ""},
        {name: "Автово", href: ""},
        {name: "Комендантский Проспект", href: ""},
        {name: "Девяткино", href: ""},
        {name: "Приморская", href: ""},
        {name: "Приморская", href: ""},
        {name: "Технологический институт", href: ""},
        {name: "Петроградская", href: ""},
        {name: "Крестовский остров", href: ""},
        {name: "Ломоносовская", href: ""},
        {name: "Метро Рыбацкое", href: ""},
        {name: "Ленинский проспект", href: ""},
        {name: "Кудрово", href: ""},
        {name: "Проспект Ветеранов", href: ""},
        {name: "Комендантский Проспект", href: ""},
    ].sort((a, b) => a.name.localeCompare(b.name))

//-Карточки "Почему выбирают нас"
-
    whyWeCards = [
        {
            imageSrc: "./assets/images/coins.webp",
            imageAlt: "Монеты",
            title: "Оплата обучения в рассрочку",
            description: "Учитесь уже сейчас, а платите потом. Первоначальный взнос на обучение в автошколе от 10 000 руб."
        },
        {
            imageSrc: "./assets/images/foreign.webp",
            imageAlt: "Иностранцы",
            title: "Обучаем иностранных граждан",
            description: "В нашей автошколе пройти обучение на категорию А или Б могут иностранные граждане, имеющие регистрацию на территории РФ."
        },
        {
            imageSrc: "./assets/images/money-bag.webp",
            imageAlt: "Мешок с деньгами",
            title: "Обучение по честным ценам",
            description: "Вы сразу точно знаете, сколько стоит обучение в автошколе — цена уже включает учебные материалы, бензин и страховку. Никаких дополнительных платежей и сборов."
        },
        {
            imageSrc: "./assets/images/car.webp",
            imageAlt: "Автомобиль",
            title: "Сопровождение в ГИБДД",
            description: "Организованная сдача теоретического и практического экзамена в ГИБДД в сопровождении представителя автошколы."
        }
    ]

//-Этапы обучения на АВТО
-
    autoStages = [
        {
            index: "01",
            title: "Первый этап",
            description: "Подаете заявку и выбираете комфортный график для обучения на водительские права"
        },
        {
            index: "02",
            title: "Второй этап",
            description: "Подписываем договор, вы выбираете комфортный план оплаты, вносите первоначальный взнос"
        },
        {
            index: "03",
            title: "Третий этап",
            description: "Начинается обучение теории, которое проходит в нашей автошколе онлайн или в классе"
        },
        {
            index: "04",
            title: "Четвертый этап",
            description: "Параллельно начинается практика на ближайшем к вам автодроме"
        },
        {
            index: "05",
            title: "Пятый этап",
            description: "Сдаете внутренние экзамены в автошколе (теория, практика)"
        },
        {
            index: "06",
            title: "Шестой этап",
            description: "Сдаете экзамен в ГИБДД и официально становитесь водителем"
        }
    ]

//-Этапы обучения на МОТО
-
    motoStages = [
        {
            index: "01",
            title: "Запись",
            description: "Подаете заявку на обучение, подписываете договор, согласовываем план оплаты."
        },
        {
            index: "02",
            title: "Уроки",
            description: "Проходите курс теоретического (дистанционно) и практического (автодром) обучения в нашей автошколе на категорию А."
        },
        {
            index: "03",
            title: "Права",
            description: "Сдаете внутренний экзамен и экзамен в ГИБДД и получаете права категории А."
        }
    ]

//-Инструкторы
-
    instructors = [
        {
            name: "Ирина Васильевна",
            age: "33 года",
            imageSrc: "assets/images/instructors/instructor-1.webp",
        },
        {
            name: "Дарья Александровна",
            age: "32 года",
            imageSrc: "assets/images/instructors/instructor-2.webp",
        },
        {
            name: "Василий Евгеньевич",
            age: "33 лет",
            imageSrc: "assets/images/instructors/instructor-3.webp",
        },
        {
            name: "Семен Викторович",
            age: "35 лет",
            imageSrc: "assets/images/instructors/instructor-4.webp",
        },
        {
            name: "Владислав Александрович",
            age: "37 лет",
            imageSrc: "assets/images/instructors/instructor-5.webp",
        },
        {
            name: "Александр Ростиславович",
            age: "36 лет",
            imageSrc: "assets/images/instructors/instructor-6.webp",
        }
    ]

-
    questions = [
        {
            question: "Где находится учебная площадка?",
            answer: "Сеть автодромов распределена по всему городу — подберем ближайшую к вам площадку."
        },
        {
            question: "Будет ли инструктор на меня кричать?",
            answer: "Учиться в автошколе будет не страшно — наши инструкторы очень доброжелательны!"
        },
        {
            question: "Что входит в стоимость?",
            answer: "В нашей автошколе цена обучения включает: полный курс теории, учебники, полный курс практического обучения, бензин, внутренний экзамен, документы в ГИБДД, организованная сдача экзамена в ГИБДД."
        },
        {
            question: "Какие документы требуются для записи в автошколу?",
            answer: "Вам потребуется паспорт и две фотографии. Если отучиться на права желает несовершеннолетний, потребуется также паспорт одного из родителей и разрешение на обучение и сдачу экзамена в ГИБДД от обоих родителей (нотариально заверенное)."
        },
        {
            question: "На каких машинах проходит обучение?",
            answer: "Будущие водители категории В учатся в нашей школе только на иномарках. Все автомобили оборудованы дублирующими педалями. В автопарке — Hyundai, Suzuki, Citroen, Chevrolet, Skoda, Ford, Renault."
        },
        {
            question: "Могу я обучаться на автомате?",
            answer: "Да, конечно, учиться на права вы можете на МКПП и АКПП."
        },
        {
            question: "Со скольки лет можно обучаться?",
            answer: "По закону РФ обучаться в автошколе и открыть категорию А разрешено с 16 лет, на категорию В можно обучаться с 17 лет, но получить права категории B — с 18 лет."
        },
        {
            question: "Можно ли оплачивать частями?",
            answer: "Да, учебу на права можно оплатить в три этапа. Первый взнос — 10 000 рублей. Рассрочка без процентов, без участия банков."
        }
    ]

//-Карусель автопарк
-
    cars = [
        {
            name: "Kia Soul",
            imageSrc: "../assets/images/cars/car-1.webp"
        },
        {
            name: "Renault Duster",
            imageSrc: "../assets/images/cars/car-2.webp"
        },
        {
            name: "Kia Rio",
            imageSrc: "../assets/images/cars/car-3.webp"
        },
        {
            name: "Scoda Rapid",
            imageSrc: "../assets/images/cars/car-4.webp"
        },
        {
            name: "Hyundai Solaris",
            imageSrc: "../assets/images/cars/car-5.webp"
        },
        {
            name: "Citroen C4",
            imageSrc: "../assets/images/cars/car-6.webp"
        },
    ]

-
    autoArea =
            [
                {
                    imageSrc: "../assets/images/photos/autoarea-1.webp"
                },
                {
                    imageSrc: "../assets/images/photos/autoarea-2.webp"
                },
                {
                    imageSrc: "../assets/images/photos/autoarea-3.webp"
                },
                {
                    imageSrc: "../assets/images/photos/autoarea-4.webp"
                },
                {
                    imageSrc: "../assets/images/photos/autoarea-5.webp"
                }
            ]

-
    motoArea =
            [
                {
                    imageSrc: "../assets/images/photos/motoarea-1.webp"
                },
                {
                    imageSrc: "../assets/images/photos/motoarea-2.webp"
                },
                {
                    imageSrc: "../assets/images/photos/motoarea-3.webp"
                },
                {
                    imageSrc: "../assets/images/photos/motoarea-4.webp"
                },
                {
                    imageSrc: "../assets/images/photos/motoarea-5.webp"
                }
            ]

-
    reviews =
            [
                {
                    name: "Андрей",
                    age: "37 лет",
                    description: "Позвонил, чтобы узнать, сколько стоит сдать на права и как долго придется учиться. Оказалось, теорию можно осваивать дистанционно, а практика начинается сразу же. Мне все подошло, цены и условия в автошколе адекватные, уже езжу с правами.",
                    photoSrc: "../assets/images/reviews/review-1.webp"
                },
                {
                    name: "Анатолий",
                    age: "42 года",
                    description: "В процессе обучения на категорию Б возникла необходимость поменять площадку для занятий. Сделали без проблем! В этой автошколе чувствуется подход “все для клиента”.",
                    photoSrc: "../assets/images/reviews/review-2.webp"
                },
                {
                    name: "Михаил",
                    age: "28 года",
                    description: "Хорошая автошкола. Компетентные сотрудники по теории и вождению. Нормальные машины. Много филиалов — не нужно пилить через весь город: вышел с работы — 2 минуты и ты на автодроме. По цене вполне подъемно. Сдал на права категории В легко, отучился год назад.",
                    photoSrc: "../assets/images/reviews/review-3.webp"
                },
                {
                    name: "Кирилл",
                    age: "23 года",
                    description: "Классный формат обучения. Удобно, что теория проходит дистанционно. Если не отлынивать, все получается быстро. Не заметил, как учеба в автошколе закончилась. Уже 3 месяца с правами!",
                    photoSrc: "../assets/images/reviews/review-4.webp"
                },
                {
                    name: "Софья",
                    age: "19 лет",
                    description: "Здесь реально крутые преподаватели и инструкторы! Ирина Васильевна, ваши уроки вождения просто незабываемы! Мое мнение — это лучшая автошкола!",
                    photoSrc: "../assets/images/reviews/review-5.webp"
                },
                {
                    name: "Елена",
                    age: "24 года",
                    description: "Отличное качество обучения, хорошие преподаватели и очень тактичные инструкторы! Большой плюс — можно нанять инструктора по вождению, чтобы позаниматься дополнительно. Мне это очень помогло. Сдала экзамен в ГИБДД с первого раза.",
                    photoSrc: "../assets/images/reviews/review-6.webp"
                },
                {
                    name: "Маргарита",
                    age: "31 год",
                    description: "Адекватная цена обучения в автошколе, хороший автопарк и преподаватели-профессионалы. Мне было комфортно учиться водить — отдельное спасибо Семену Викторовичу за терпение и подробный разбор всех ошибок.",
                    photoSrc: "../assets/images/reviews/review-7.webp"
                }
            ]

